@import url("font-face.css");
body {
  padding-top: 70px;
  font-family: 'LatoWeb';
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f1f2f7;
}
h4,h5{
  font-weight: bold;
}
.container{
  /*width: 98%;*/
}

.containerfooter{
  background-color: #3c8dbc
}
.slide-image {
  width: 100%;
}
.jml_beli {
  position: absolute;
  top: 10px;
  left: 30px;
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}
.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 50px;
  overflow: hidden;
}

.caption p a {
  font-size: 14px;
  color: #000000;
}

.gproduk {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.gproduk-sm {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.harga {
  font-size: 12px;
  font-weight: bold;
  color: #8D0012;
  padding-left: 10px;
  padding-right: 10px;
  height: 37px
}
.text-kategori {
  font-weight: bolder;
  color: #40C3B8

}
.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
.header-form-masuk {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
.breadcrumb {
  font-size: 12px;
  background: transparent;
  padding: 0;
}
hr {
  border-color: #DCDCDC
}
footer {
  margin: 30px 0;
  
}
footer a {
  color: #000000;
}
footer a:hover {
  text-decoration: none;
}
.navbar-default {
    background-color: #32B0A5
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    /*background-color: #32B0A5*/
    background-color: #32B0A5
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #32B0A5
}
.dropdown-menu {
    background-color: #32B0A5
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    /*background-color: #524E70*/
}
.navbar-default {
    background-image: none;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}
.navbar-default {
    border-color: #524E70
}
.navbar-default .navbar-brand {
    color: #4C4C4C
}
.navbar-default .navbar-brand:hover {
    color: #FFFFFF
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #4C4C4C
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #4C4C4C
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #4C4C4C
}
.dropdown-menu>li>a {
    color: #40C3B8
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #4C4C4C
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #999999
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #999999
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}
/*
Tombol Default
------------------------------------------------------------
*/
.btn-putih {
  background-color: #FFFFFF;
  border-color: #FBFBFB;
}
.btn-putih:hover,
.btn-putih:focus,
.btn-putih:active,
.btn-putih.active {
  background-color: #FBFBFB;
  border-color: #F4F4F4;
}
.btn-putih.disabled,
.btn-putih.disabled:hover,
.btn-putih.disabled:focus,
.btn-putih.disabled:active,
.btn-putih.disabled.active,
.btn-putih[disabled],
.btn-putih[disabled]:hover,
.btn-putih[disabled]:focus,
.btn-putih[disabled]:active,
.btn-putih[disabled].active,
fieldset[disabled] .btn-putih:hover,
fieldset[disabled] .btn-putih:focus,
fieldset[disabled] .btn-putih:active,
fieldset[disabled] .btn-putih.active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
/*
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
  /*-webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;*/
  box-shadow: none;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}
/* Input group */
input, select, textarea {
    border-radius: 0 !important;
}
.input-group .input-group-addon {
  border-radius: 0 !important;
  background-color: #f4f4f4;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox,
.radio {
  /*padding-left: 0;*/
}

.login-header {
  text-align: center;
}
.row .input-login{
  width: 400px;
  margin: 0 auto;
  padding: 80px 0
}
.animasi{
  transition: all .3s ease-out;
}
.hidden {
  display: none;
 }
.visible {
  display: block;
}
.balon-a{
  border-radius: 4px;
  padding: 10px;
  background-color: #23b7e5;
  color: #fff;
  width: 280px;
  margin-bottom: 5px;
}
.balon-b{
  border-radius: 4px;
  padding: 10px;
  background-color: #E6E7E7;
  width: 280px;
  margin-bottom: 5px;
}
.balon-jam{
  font-size: 12px;
  font-style: italic;
  color: #9C9C9C;
  text-align: center;
  padding-bottom: 10px;
}
.balon-jam-left{
  font-size: 12px;
  font-style: italic;
  color: #9C9C9C;
  text-align: left;
  padding-left:20px;
  padding-bottom: 10px;
}
.balon-jam-right{
  font-size: 12px;
  font-style: italic;
  color: #9C9C9C;
  text-align: right;
  padding-right:20px;
  padding-bottom: 10px;
}

/*
*
*
*
Gambar Slider Detail Produk
==================================================================================
*/
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }



